<h1>Populate Table With List of Heroes</h1>

<p>Delete Example data and make list dynamic using a angular service file that calls an api on HeroesController to get
  the heroes from db</p>
<p>Also make the Add Hero link in nav go to a new page with a form that will add a new Hero to Heroes table in db and
  then redirect back to this page. Do not worry about validating duplicate hero names</p>
<p>The delete button should flag the hero in the db as IsActive = 0</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Alias</th>
      <th>Brand</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes; let i = index">
      <td>{{ hero.Id }}</td>
      <td>{{ hero.Name }}</td>
      <td>{{ hero.Alias }}</td>
      <td>{{ hero.Brand }}</td>
      <td>
        <button type="button" (click)="onDelete(hero.Id)" class="btn btn-danger">Delete</button>
        <a  class="btn btn-default" [routerLink]="['/edit-hero', hero.Id]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
